@media only screen and (min-device-width: 320px) and (max-device-width: 480px){}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){}

.hidden {
  display: none;
}

#greeting {
  color: white;
  font-size: 30px;
  text-align: center;
}

#login-form {
  text-align: center;
  margin-bottom: 30px;
}

#enterName {
  text-align: center;
  border: 0 none;
  outline: none;
  background: transparent;
  border-bottom: white solid 3px;
  caret-color: transparent;
  color: white;
}

::placeholder {
  color: white;
}

#clock {
  color: white;
  text-align: center;
  font-size: 50px;
  margin-top: 130px;
  margin-bottom: 20px;
}

#quote {
  color: white;
  text-align: center;
  line-height: 35px;
  font-family: inherit;
  margin-top: 5rem;
}

#todo-form {
  margin-top: 80px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#enterToDo {
  text-align: center;
  border: 0 none;
  outline: none;
  background: transparent;
  border-bottom: white solid 2px;
  caret-color: transparent;
  color: white;
}

#delete-button,
#check-button {
  border: none;
  background: transparent;
  color: white;
}

.todo-list {
  color: white;
  list-style: none;
  margin-left: 1rem;
}

#weather1 {
  color: white;
  font-size: 2.2rem;
  padding-left: 1%;
  padding-top: 1%;
  float: left;
}

#weather2 {
  color: white;
  padding-top: 0.6%;
  margin-left: 6%;
}

#weather3 {
  color: white;
  margin-left: 6.1%;
}

#weather-city {
  font-size: 1.5rem;
}

#weather-country {
  font-size: 0.3rem;
}

#background {
  background-size: cover;
}

.container {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background-color: #FFFFFF;
  width: 11rem;
  height: 13rem;
  border-radius: 13px;
}

.upper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.8rem;
  background-color: #81a2a7;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  font-size: 2rem;
  font-weight: 900;
  color: white;
}

.lower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9rem;
  font-size: 1rem;
}

#date {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
}
