body {
  background-color: #8aa9b2;
}

.hidden {
  display: none;
}

#greeting {
  color: white;
  font-size: 30px;
  text-align: center;
}

#login-form {
  text-align: center;
  margin-bottom: 30px;
}

#enterName {
  text-align: center;
  border: 0 none;
  outline: none;
  background: transparent;
  border-bottom: white solid 3px;
  caret-color: transparent;
  color: white;
}

::placeholder {
  color: white;
}

#clock {
  color: white;
  text-align: center;
  font-size: 50px;
  margin-top: 130px;
  margin-bottom: 20px;
}

#quote {
  color: white;
  text-align: center;
  line-height: 35px;
  font-family: inherit;
  margin-top: 5rem;
}

#todo-form {
  margin-top: 80px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#enterToDo {
  text-align: center;
  border: 0 none;
  outline: none;
  background: transparent;
  border-bottom: white solid 2px;
  caret-color: transparent;
  color: white;
}

#delete-button {
  border: none;
  background: transparent;
  color: white;
}

.todo-list {
  color: white;
  list-style: none;
  margin-left: 1rem;
}

#weather-country,
#weather-city,
#weather-temp,
#weather-icon {
  color: white;
}
